<div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <b>{{product.item.Name || product.item.ID}}</b><br>
                        <small class="text-muted" ng-if="product.item.Name">{{product.item.ID}}</small>
                    </h1>
                </div>
                <div class="panel-body text-center" ng-if="product.item.xp.image">
                    <figure>
                        <img class="img-responsive img-thumbnail" ng-src="{{product.item.xp.image.URL}}" alt="Product Image">
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body" ng-if="product.item.Description">
                    <p>{{product.item.Description}}</p>
                    <p ng-if="product.item.xp.PlacementInstructions"><b>Placement Instructions: </b><br>{{product.item.xp.PlacementInstructions}}</p>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="priceBreak in product.item.StandardPriceSchedule.PriceBreaks">
                        <td>{{priceBreak.Quantity}}</td>
                        <td>{{priceBreak.Price}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-body" ng-if="product.item.Specs.length">
                    <div ui-view="specFormView"></div>
                </div>
                <div class="panel-body" ng-if="product.item.xp.Type == 'Variable'">
                    <h3>Variants <small>choose one</small></h3>
                    <div class="list-group">
                        <a ng-class="{active:variant.InteropID == product.item.variableProduct.InteropID}" class="list-group-item" href="" ng-repeat="variant in product.printVariants" ng-click="product.SelectVariant(variant.InteropID)">

                            <button class="btn btn-default pull-right" ng-click="product.EditVariant(variant.InteropID)">Edit</button>
                            <b class="list-group-item-header">{{variant.ExternalID}}</b>
                            <!--sorry rob --> <p class="list-group-item-text text-muted" style="color: transparent;">_</p>
                        </a>
                    </div>
                    <div>
                        <fieldset>
                            <button type="submit" ng-show="!product.selectedVariant" class="btn btn-primary" ng-click="product.CreateVariant()">Create New</button>
                        </fieldset>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="checkbox" ng-if="product.item.ID == 'ChilisDMPostcard'">
                        <label class="control-label">
                            <input ng-model="product.selectedVariant.approved" type="checkbox" required/> I have reviewed and approve this proof.
                        </label>
                    </div>
                    <ordercloud-order-input validationform="product_spec_form" product="product.item"></ordercloud-order-input>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="product.selectedVariant.ProductInteropID">
    <form name="variable_product_form" ng-submit="product.UpdateVariant()">
        <variable-product-form user="base.currentUser" formmodel="product.selectedVariant"></variable-product-form>
        <fieldset>
            <button type="button" class="btn btn-default" ng-click="product.selectedVariant = null">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="variable_product_form.$invalid">Save</button>
        </fieldset>
    </form>
</div>