<div ng-if="product.item.xp.Type == 'Variable'">
    <h1>{{product.item.Name || product.item.ID}}</h1>
    <h3 ng-if="product.item.Name">{{product.item.ID}}</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" ng-if="product.item.Description">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body">
                    {{product.item.Description}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-if="product.item.StandardPriceSchedule.PriceBreaks">
                <div class="panel-heading">
                    <h3 class="panel-title">Price Breaks</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="priceBreak in product.item.StandardPriceSchedule.PriceBreaks">
                        <td>{{priceBreak.Quantity}}</td>
                        <td>{{priceBreak.Price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Variants <small>(choose one)</small></h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a ng-class="{active:variant.InteropID == product.item.variableProduct.InteropID}" class="list-group-item" href="" ng-repeat="variant in product.printVariants" ng-click="product.SelectVariant(variant.InteropID)">

                    <button class="btn btn-default pull-right" ng-click="product.EditVariant(variant.InteropID)">Edit</button>
                    <b class="list-group-item-header">{{variant.ExternalID}}</b>
                    <p class="list-group-item-text text-muted">{{variant.InteropID}}</p>
                </a>
            </div>
            <div>
                <fieldset>
                    <button type="submit" ng-show="!product.selectedVariant" class="btn btn-primary" ng-click="product.CreateVariant()">Create New</button>
                </fieldset>
            </div>
            <div ng-if="product.selectedVariant">
                <form name="variable_product_form" ng-submit="product.UpdateVariant()">
                    <variable-product-form formmodel="product.selectedVariant"></variable-product-form>
                    <fieldset>
                        <button type="button" class="btn btn-default" ng-click="product.selectedVariant = null">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-if="product.item.xp.Type != 'Variable'">
    <h1>{{product.item.Name || product.item.ID}}</h1>
    <h3 ng-if="product.item.Name">{{product.item.ID}}</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" ng-if="product.item.Description">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body">
                    <p>{{product.item.Description}}</p>
                    <p ng-if="product.item.xp.Mandatory"><b>Placement Instructions: </b><br>{{product.item.xp.PlacementInstructions}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-if="product.item.StandardPriceSchedule.PriceBreaks">
                <div class="panel-heading">
                    <h3 class="panel-title">Price Breaks</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="priceBreak in product.item.StandardPriceSchedule.PriceBreaks">
                        <td>{{priceBreak.Quantity}}</td>
                        <td>{{priceBreak.Price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>