<div ng-form="variable_product_form" ng-show="$parent.$parent.product.item.ID == '45178926'">
	<div class="row">
		<div class="col-xs-6" ng-if="$parent.$parent.product.showImage && formmodel.PreviewUrl">
			<figure>
				<img class="img-thumbnail" ng-src="{{formmodel.PreviewUrl + '?time=' + $parent.$parent.product.imageRefeshTime.getTime()}}"/>
			</figure>
		</div>
		<div ng-class="{'col-xs-6':formmodel.PreviewUrl, 'col-xs-12': !formmodel.PreviewUrl}">
			<h4 class="page-header">Update variant</h4>
			<fieldset class="form-group row">
				<div class="col-sm-6">
					<label for="{{formmodel.Specs.Name.ID}}">{{formmodel.Specs.Name.Name}}</label>
					<input id="{{formmodel.Specs.Name.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Name.Value"/>
				</div>
				<div class="col-sm-6">
					<label for="{{formmodel.Specs.Title.ID}}">{{formmodel.Specs.Title.Name}}</label>
					<input id="{{formmodel.Specs.Title.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Title.Value"/>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label for="{{formmodel.Specs.Email.ID}}">{{formmodel.Specs.Email.Name}}</label>
				<input id="{{formmodel.Specs.Email.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Email.Value"/>
			</fieldset>
			<fieldset class="form-group">
				<label for="{{formmodel.Specs.Website.ID}}">{{formmodel.Specs.Website.Name}}</label>
				<input id="{{formmodel.Specs.Website.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Website.Value"/>
			</fieldset>
			<hr>
		</div>
	</div>
	<fieldset class="form-group">
		<label for="{{formmodel.Specs.Address.ID}}">{{formmodel.Specs.Address.Name}}</label>
		<input id="{{formmodel.Specs.Address.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Address.Value"/>
	</fieldset>
	<fieldset class="form-group row">
		<div class="col-sm-6">
			<label for="{{formmodel.Specs.City.ID}}">{{formmodel.Specs.City.Name}}</label>
			<input id="{{formmodel.Specs.City.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.City.Value"/>
		</div>
		<div class="col-sm-6">
			<label for="{{formmodel.Specs.State.ID}}">{{formmodel.Specs.State.Name}}</label>
			<input id="{{formmodel.Specs.State.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.State.Value"/>
		</div>
	</fieldset>
	<fieldset class="form-group row">
		<div class="col-sm-5">
			<label for="{{formmodel.Specs.Zip.ID}}">{{formmodel.Specs.Zip.Name}}</label>
			<input id="{{formmodel.Specs.Zip.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Zip.Value"/>
		</div>
		<div class="col-sm-7">
			<label for="{{formmodel.Specs.Phone.ID}}">{{formmodel.Specs.Phone.Name}}</label>
			<input id="{{formmodel.Specs.Phone.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Phone.Value"/>
		</div>
	</fieldset>
	<fieldset class="form-group">
		<label for="{{formmodel.Specs.Logo_upload.ID}}">{{formmodel.Specs.Logo_upload.Name}}</label>
		<input id="{{formmodel.Specs.Logo_upload.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Logo_upload.Value"/>
	</fieldset>
</div>
<div ng-form="variable_product_form" ng-show="$parent.$parent.product.item.ID == 'ChilisDMPostcard'" >
	<div class="row">
		<div class="col-xs-6">
			<figure>
				<img ng-if="$parent.$parent.product.showImage" class="img-thumbnail" ng-src="{{formmodel.PreviewUrl + '?time=' + $parent.$parent.product.imageRefeshTime.getTime()}}"/>
			</figure>
		</div>
		<div class="col-xs-6">
			<h4 class="page-header">Update variant</h4>
			<fieldset class="form-group row">
				<div class="col-sm-6">
					<label for="{{formmodel.Specs.Template.ID}}">{{formmodel.Specs.Template.Name}}</label>
					<select id="{{formmodel.Specs.Template.ID}}" class="form-control" ng-options="item.Value as item.Value for item in formmodel.Specs.Template.Options" ng-model="formmodel.Specs.Template.Value"></select>
				</div>
			</fieldset>
			<fieldset class="form-group row demographic">
				<div class="col-sm-6" ng-init="formmodel.Specs.Demographic.Value = user.profile.Items[0].xp.Demographic.toLowerCase();">
					<label for="{{formmodel.Specs.Demographic.ID}}">{{formmodel.Specs.Demographic.Name}} {{formmodel.Specs.Demographic.Value}}</label>
					<input id="{{formmodel.Specs.Demographic.ID}}" disabled="true" class="form-control" ng-model="formmodel.Specs.Demographic.Value">
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label for="{{formmodel.Specs.Discount.ID}}">{{formmodel.Specs.Discount.Name}}</label>
				<input id="{{formmodel.Specs.Discount.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.Discount.Value"/>
			</fieldset>
			<fieldset class="form-group">
				<label for="{{formmodel.Specs.Income.ID}}">{{formmodel.Specs.Income.Name}}</label>
				<select id="{{formmodel.Specs.Income.ID}}" class="form-control" ng-options="item.Value as item.Value for item in formmodel.Specs.Income.Options" ng-model="formmodel.Specs.Income.Value"></select>
			</fieldset>
			<fieldset class="form-group">
				<label for="{{formmodel.Specs.SaveAs.ID}}">{{formmodel.Specs.SaveAs.Name}}</label>
				<input id="{{formmodel.Specs.SaveAs.ID}}" type="text" class="form-control" ng-model="formmodel.Specs.SaveAs.Value"/>
			</fieldset>
			<hr>
		</div>
	</div>
</div>