<article>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Store Profile
                </h2>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <b>Restaurant Type:</b>
                        </td>
                        <td>Grill & Chill</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Location Type:</b>
                        </td>
                        <td>Mall</td>
                    </tr>
                    <tr>
                        <td>
                           <b>Region:</b>
                        </td>
                        <td>East Coast</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Number of Windows:</b>
                        </td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Has a Bar:</b>
                        </td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Number of Tables:</b>
                        </td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Hours of Operation:</b>
                        </td>
                        <td>M - F, 8 AM - 11 PM; Sa & Sun, Open until Midnight</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>