<form name="li_modal_form" ng-submit="liModal.submit();">
    <div class="modal-header">
        <h4>Create new Shipping Address</h4>
    </div>
    <div class="modal-body">
        <ordercloud-address-form address="liModal.address"></ordercloud-address-form>
    </div>
    <div class="modal-footer">
        <button ng-click="liModal.cancel();" type="button" class="btn btn-default">Cancel</button>
        <button ng-disabled="li_modal_form.$invalid" type="submit" class="btn btn-success">Submit</button>
    </div>
</form>