<div class="container catalog-banner" ng-if="application.$state.is('catalog')">
    <img src="assets/images/catalog-banner.jpg"/>
    <div class="catalog-banner_cta text-center">
        <h1>Localized Super Bowl Marketing Campaign Now Available!</h1>
    </div>
</div>
<article class="container">
    <ordercloud-minicart order="catalog.currentOrder"></ordercloud-minicart>
    <ui-view>
        <ordercloud-category-list categorylist="catalog.categories.Items"></ordercloud-category-list>
    </ui-view>
</article>
