<div class="container catalog-banner">
    <img src="assets/images/catalog-banner.jpg"/>
    <div class="catalog-banner_cta text-center">
        <h1>Create & Order Promotional Materials For Your Franchise</h1>
    </div>
</div>
<article class="container">
    <div>
        <ordercloud-minicart order="catalog.currentOrder" class="pull-right"></ordercloud-minicart>
        <div class="clearfix"></div>
        <hr/>
    </div>
    <ui-view>
        <ordercloud-category-list categorylist="catalog.categories.Items"></ordercloud-category-list>
    </ui-view>
</article>
