<article>
    <h3 ng-if="productlist.length > 0" class="page-header">
        {{productlist.length > 1 ? 'Products' : 'Product'}}
    </h3>
    <div class="product-list row">
        <div class="col-md-3" ng-repeat="product in productlist">
            <div class="panel panel-default" ui-sref="catalog.product({productid: product.ID})">
                <div class="panel-body">
                    <div class="product-item">
                        <h4 class="item-name"><b>{{product.Name || product.ID}}</b></h4>
                        <small class="item-id text-muted" ng-if="product.Name">{{product.ID}}</small>
                        <hr>
                        <div class="thumbnail">
                            <span class="fa-stack fa-5x" ng-if="!product.xp.image">
                                <i class="fa fa-camera fa-stack-1x"></i>
                                <i class="fa fa-ban fa-stack-2x text-danger"></i>
                            </span>
                            <div ng-if="product.xp.image">
                                <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                            </div>
                        </div>
                        <div class="item-price"><p>{{product.StandardPriceSchedule.PriceBreaks[0].Price | currency}} x {{product.StandardPriceSchedule.PriceBreaks[0].Quantity}}</p></div>
                        <div class="item-description" ng-if="product.Description">
                            <p>{{product.Description}}</p>
                            <div class="text-center" ng-if="product.xp.Mandatory"><span class="label label-primary">Mandatory</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</article>