<aside id="BaseLeft">
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="catalog"><i class="fa fa-home"></i> Catalog</a>
                <div uib-collapse="!application.$state.includes('catalog')">
                    <catalog-tree tree="baseLeft.tree"></catalog-tree>
                    <hr>
                </div>
            </li>

            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="cart"><i class="fa fa-shopping-cart"></i> Shopping Cart</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a href="" ui-sref="orderHistory"><i class="fa fa-inbox"></i> Order History</a>
            </li>
        </ul>
    </nav>
</aside>
